/* contact */
.contact{
    width: 100%;
    padding: 80px 0;
}
.contact h3, h4{
    font-size: 16px;
    font-weight: bold;
    color: #3E3E3E;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.contact p{
    font-size: 15px;
    line-height: 1.8;
    color: #3e3e3e;
}
.contact .social{
    padding-top: 40px;
    padding-bottom: 10px
}
.contact .social i{
    font-size: 20px;
    background-color: #F5F5F5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}
.contact .social a{
    color: #5691D3;
}
.contact .social i:hover{
    background: #4C87CA;
    color: #fff;
    transition: .3s;
}
.form-control{
    border-radius: 0;
    padding: 1.75rem;
    background-color:  #F5F5F5;
    border: none;
    color: #3e3e3e;
    font-size: 15px;
}
.btn {
    color: #fff;
    background-color: #4C87CA;
    padding: 10px 15px;
    border-radius: 0;
}
.btn:hover{
    color: #fff;
}
/* contact */